version: 2.1
jobs:
  build-medium:
    machine:
      image: ubuntu-2004:202101-01
    resource_class: arm.medium
    # working_directory: ~/test-lol
    steps:
      - checkout
      - run: npm ci
      - run: npx percy snapshot test.yml
workflows:
  build:
    jobs:
      - build-medium
